.sidebar {
  display: flex;
  float: left;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 20%;
  max-width: 240px;
  height: 100vh;
  position: relative;
  overflow-x: auto;
  top: 0;
  background-color: #f1f2f6;
  z-index: 1000;

  .sidebar-admin {
    position: relative;
    top: 20px;
    height: 10%;
    width: 75%;
    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      float: left;
      margin-right: 10px;
      background-color: #000;
    }
    h5 {
      color: #b1b1b1;
      margin: 0px;
    }
    h3 {
      font-size: 20px;
      margin: 0px 0px;
    }
  }
  .singOut {
    position: absolute;
    bottom: 30px;
    left:35px;
  }

  ul {
    list-style: none;
    text-decoration: none;

    padding: 0;
    position: relative;
    top: 20%;
    li {
      justify-content: center;
      padding: 10px;
      color: black;
      a {
        color: #000;
        text-decoration: none;
      }
      .icon {
        margin: 5px 10px 0px 0px;
        height: 16px;
      }
      .menu {
        height: 24px;
        width: 24px;
        margin-left: 30px;
        float: right;
      }
    }
    li:hover {
      background-color: #f8f8f8;
    }
  }
}

// .singOut {
//   position: absolute;
//   margin-top: 430px;
//   left: 35px;
// }

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

.sidebar.show {
  left: 0;
}
