.dialog-container {
  .MuiDialog-paper {
    border-radius: 8px;
    padding: 16px;
    width: 600px;
    height:469px;
    .MuiDialogTitle-root {
      text-align: left;
      font-weight:800;
    }

    .MuiTextField-root {
      margin-bottom: 16px;
      .MuiOutlinedInput-root {
        border-radius: 8px;
      }
    }

    .MuiDialogContent-root {
      display: flex;
      flex-direction: column;
    }

    .MuiFormControl-root {
      width: 100%;
      border-radius: 200px;
      height: 80px;
      margin-bottom: 16px;
      .MuiOutlinedInput-root {
        height:45px;
        border-radius: 8px;
      }
    }

    .MuiSelect-root {
      height: 20px;
      border-radius: 40px;
    }
  }
  .popup-add-button {
    border-radius: 6px;
    margin-right: 8px;
    color: #fff;
    background-color: #0386cf;
    &:hover {
      background-color: #0386cf; 
    }
  }

  .popup-cancel-button {
    border-radius: 6px;
    margin-right: 8px;
    color: #fff;
    background-color: #c5c5c5;
    &:hover {
      background-color: #c5c5c5;
    }
  }

  hr {
    border: none;
    height: 1px;
    color: black;
  }

  @media (max-width: 768px) {
    .MuiDialog-paper {
      max-width: 90%; 
    }
  }
}
