.user-form {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;

  h2 {
    text-align: left;
  }

  .form-table {
    display: flex;
    position: relative;
    width: 80%;
    padding-top: 50px;
    left: 0;

    .form-row {
      display: flex;

      .form-col {
        display: table-cell;
        padding: 10px;

        label {
          display: flex;
          padding-bottom: 50px;
          color: #b1b1b1;
        }

        input[type="text"] {
          height: 10%;
          width: 200px;
          padding: 10px 15px 10px 15px;
          border: 1px solid #ccc;
          border-radius: 10px;
        }

        .error-message {
          color: red;
          margin-top: 5px;
        }
      }
    }

    button[type="submit"] {
      margin: 80px 60px;
      block-size: 50px;
      height: 30px;
      padding: 10px 20px;
      background-color: #fff;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }
    }
  }
}

#status,
#assignedBooks {
  height: 23%;
  width: 250px;
  font-size: medium;
  padding: 8px 15px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

@media (max-width: 968px) {
  .user-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin: 0;
    // padding: 0;
  }
  .form-table {
    // display: flex;
    // align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    flex-direction: column;

    .form-row {
      flex-direction: column;

      .form-col {
        padding-bottom:0px ;
        width: 100%;
      }
    }
  }
}
