.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  background-color: #fff;
  padding: 2%;
  display: flex;
  flex: 80%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  @media (max-width: 768px) {
    align-items: center;
    width: 98%;
    // position: fixed;
    // top: 0;
    right: 3.5%;
    // padding: 10px;
    z-index: 100;
  }
}

.top-bar {
  display: flex;
  width: 100%;
  // margin-bottom: 20px;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.header h1 {
  // font-size: 30px;
  color: rgb(70, 77, 109);
  margin: 0;

  @media (max-width: 768px) {
    margin-top: 5px;
    font-size: 20px;
  }
}

.search-container {
  display: flex;
  width: 50%;
  align-items: center;

  @media (max-width: 768px) {
    width: 80%;
    margin-top: 10px;
  }
}

input[name="input-box"] {
  width: 100%;
  padding: 10px 0px 10px 45px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-right: 10px;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  left: 40px;
  top: 30%;
  transform: translateY(-50%);
  @media (max-width: 768px) {
    left: 35px;
    top: 10px;
  }
}

// .button-container {
//   display: flex;
//   width: 100%;
//   justify-content: flex-end;

//   @media (max-width: 768px) {
//     justify-content: center;
//   }
// }
.clear-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: -40px;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
  }
}
