/* App.scss */
.App {
  /* display: flex ; */
  font-family: "Inter", sans-serif;
}
.content {
  flex-grow: 1;
  padding: 20px;
}

.active-status {
  color: #35ed25;
}

.disable-status {
  color: #f63f3f;
}

/* .container {
  flex: 10% !important;
  width:15%;
}

.routes {
  position: absolute;
  flex: 80%;
  width: 100%;
  top: 0;
} */
